.SubHeader {
  display: inline-block;
    color: red;
    padding-left: 60%;
}

#heading h1, h2 {
   display: inline;
   padding-left: 20px;
}

a {
  font-size: calc(2px + 2vmin);
  color: black;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
